BasedOnStyle: Google
UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Attach
ColumnLimit: 200
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeTernaryOperators: false
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCaseColons: false
